{% extends 'base.html' %}
{% block content %}
{% load static %}

 <!-- do section -->

 <section class="do_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Xizmatlarimiz
      </h2>
      <p>
        Biz mijozlarga ushbu yo'nalishlarda xizmat ko'rsatamiz
      </p>
    </div>
    <div class="do_container">
      {% for service in services  %}
      <div class="box arrow-start arrow_bg">
        <div class="img-box">
          <img src="{{service.icon.url}}" alt="Service">
        </div>
        <div class="detail-box">
          <h6>
            {{service.name}}
          </h6>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- end do section -->


{% endblock %}